#!/usr/bin/env bun
/**
 * {{projectName}} daemon entry point
 */

import { runDaemon } from "./daemon-main.js";

runDaemon().catch((error) => {
	console.error("Daemon failed:", error);
	process.exit(1);
});
