{
	"$schema": "https://json.schemastore.org/tsconfig",
	"extends": "@outfitter/tooling/tsconfig.preset.bun.json",
	"compilerOptions": {
		"outDir": "./dist",
		"rootDir": "./src"
	},
	"include": ["src/**/*"],
	"exclude": ["node_modules", "dist"]
}
